.affiliate-fqe-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 104px;
}

.affiliate-faq-dropdownmenu-list {
  list-style-type: disc;
  padding-left: 44px;
}

.support-small-description {
  margin-top: 44px;
  margin-bottom: -36px;
}

.become_our_affiliate_partner_section_content_container {
  margin-left: -256px;
  margin-bottom: -44px;
}

.become_our_affiliate_partner_section_content_container:hover svg {
  transform: translateX(16px);
}