@import "tailwindcss";

.hero_header.is_affiliate{
  background-image: url(../../../public/images/hero/affiliateHeroCroped.png);
  background-repeat: no-repeat;
  background-size: 100%;
  flex-flow: row;
  align-items: start;
  /* match home sections visual symmetry */
  justify-content: center;
  /* gap: var(--space--140); */
}

.affiliate-image-outer-container {
  width: 400px;
}


.affiliate-hero-image {
  border-radius: 24px; /* approx rounded-4xl */
  width: 100%;
  height: auto;
}


/* keep affiliate hero text content from stretching too wide,
   similar to home hero heading behavior */
.hero_header.is_affiliate .hero_header_title-container{
  max-width: calc(56ch - var(--space--80) + 16px);
}
.hero_header.is_affiliate .work_areas {
  font-size: 58px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero_header.is_affiliate .affiliate_hero-title-mini {
  line-height: 1.5;
}
.hero_header.is_affiliate .become-affiliate-btn{
  margin-top: 32px;
}