/* Tooltip for cursor-dot */
.cursor-dot .cursor-tooltip {
  position: absolute;
  left: 20px;
  top: -30px;
  background: #222;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  opacity: 0.95;
  transition: opacity 0.15s;
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  /* background-color: black; */
  cursor: none;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  /* z-index: 3; */
}

.cursor-outline {
  width: 30px;
  height: 30px;
  /* background-color: rgb(227, 250, 126); */
  border: 2px solid rgba(214, 214, 214, 0.76);
  /* border: 1px solid rgba(105, 105, 105, 0.664); */
  /* z-index: 2; */
}

.cursor-another-outline {
  width: 45px;
  height: 45px;
  /* background-color: rgb(216, 255, 110); */
  border: 1.5px solid rgb(126, 126, 126);
  /* z-index: 1; */
}

.cursor-dot,
.cursor-outline,
.cursor-another-outline {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

@media (max-width: 834px) {
  body {
    cursor: auto;
  }

  .cursor-dot,
  .cursor-outline,
  .cursor-another-outline {
    display: none;
  }
}