.footer-primary-up{
  color: white;
  padding-left: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-primary-up-title_header{
  padding-top: 2px;
  padding-bottom: 1px;
  color: #ffffff;
  font-weight: bold;
}

.footer-primary-up-title_header_arrow{
  width: 20px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.email-link-click-to-copy:hover{
  cursor: none;
}