.footer-primary-left{
  margin-top: 25px;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}

.footer-primary-left_content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer-primary-left_logo{
  width: 200px;
  height: auto;
}

