.footer-primary-left{
  color: white;
  padding-left: 35px;
}

.footer-primary-left-title_header{
  padding-top: 2px;
  padding-bottom: 1px;
  color: #ffffff;
  font-weight: bold;
}

.footer-primary-left-title_header_arrow{
  width: 20px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}