.footer-primary-left{
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-primary-left_content {
  font-family: Helvetica, Arial;
  color: white;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer-primary-left_logo{
  font-size: 80px;
}

