.footer-primary-upper{
  padding: 20px 40px 35px 20px;
}

.input-sec{
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 0px 0px 10px;
  color: white;
  padding: 7px 10px 7px 10px;
  width: 100%;
}

.name-and-email-input-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.full-name-input-div,
.email-input-div
{
  width: 100%;
  margin: 10px 5px 5px 5px;
}
/* .full-name-input-sec,
.email-input-sec,
.select-service,
.service-budget-range,
.massage-input-sec{
  margin: 5px 20px 5px 15px;
} */
.select-service-div,
.select-budget-range-div,
.massage-input-div{
  margin: 0px 5px 5px 5px;
}