.footer-primary-right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0px;
  padding: 25px 25px 30px 20px;
  width: 30%;
  height: 100%;
  font-size: 14px;
}

.footer-primary-right-title,
.footer-right-elements{
  padding-top: 2px;
  padding-bottom: 1px;
}

.footer-primary-right-title{
  color: #ffffff;
  font-weight: bold;
}

.footer-right-elements{
  cursor: none;
  color: #b3b3b9;
}

.footer-right-elements:hover{
  opacity: .5;
  cursor: none;
}