

.quickintro-grid__item.is-left.partner-benifits-last {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.our-partners-description {
  margin-top: 16px;
  margin-bottom: -32px;
  p {
    line-height: 1.2;
  }
}

.become-partner--benefits {
  margin-top: 80px;
}


.ourpartners-bottom-part-is-left {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  
  .ourpartners-bottom-part-is-left-elements {
    display: flex;
    flex-direction: column;
    
    .ourpartners-bottom-part-is-left-title {
      display: flex;
      flex-direction: row;
      font-size: 32px;
      
      .plus {
        font-size: 44px;
        line-height: 1;
        padding-left: 2px;
        padding-bottom: 0px;
      }
    }
    .ourpartners-bottom-part-is-left-description {
      line-height: 1.2;
    }
  }
}




.our-partners-image_card-container {
  max-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: auto;
}

.our-partners-image-container {
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  height: 260px;
  border-radius: var(--space--32);
  
  .overlay-content {
    .play-icon {
      width: auto;
      img {
        width: 70%;
      }
    }
  }
}


/* Image */
.our-partners-image-container img {
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  contain: content;
  object-fit: cover;
  z-index: 0;
}


/* The left-to-right fading overlay */
.our-partners-image-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    #bdbdbd 50%,
    rgba(224, 224, 224, 0.7) 70%,
    rgba(224, 224, 224, 0.3) 85%,
    rgba(224, 224, 224, 0) 100% 
  );
  z-index: 1;
}

/* Text on top of overlay */
.overlay-content {
  z-index: 2;
  padding-left: 32px;
  display: flex;
  flex-direction: row;
}

.overlay-content h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.overlay-content p {
  margin: 5px 0 0;
  font-size: 16px;
  opacity: 0.9;
}

