/* .partnership_header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center; /* keep visual symmetry like home hero */
  /* gap: var(--space--140);
}  */

.partnership_header-title {
  min-width: 1000px;
}