.partnership_header {
  display: flex;
  flex-flow: row;
  align-items: center; 
  justify-content: center; /* keep visual symmetry like home hero */
  /* gap: var(--space--140); */
  padding-left: calc(32ch + var(--space--40) - 108px);
} 

.partnership_header-title {
  min-width: 1000px;
}

.partnership_hero-subtitle {
  margin-top: 44px;
}