.shared_reasponsibility-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.shared_reasponsibility-sub-container {
  max-width: 1344px;
  width: 1344px;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  padding-top: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reasponsibility_content-container {
  max-width: calc(100%/3);
  display: flex;
  flex-direction: column;
  gap: 32px;

  div h6 {
    line-height: 1.5;
  }

  .responsibility_content-body {
    border-left: 1px solid rgba(128, 128, 128, 0.3);
    padding-left: 16px;
    padding-right: 48px;

    .responsibility-card-container {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .responsibility-card-sub-container {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .responsibility-img-container {
          width: 80px;
          margin-right: 16px;
        }
      }
    }
  }
}


/* looking for something */

.looking-for-card-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  
  .looking-for-card-sub-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    .looking-for-img-container {
      img {
        border-radius: 20px;
      }
    }
    h6, p{
      margin-left: 2px;
    }
  }
}

.become_something-form-looking-for {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

