.shared_reasponsibility-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shared_reasponsibility-sub-container {
  max-width: 1350px;
  width: 1350px;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reasponsibility_content-container {
  max-width: 33.33%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  
  div h6 {
    line-height: 1.5;
  }
}

