.bangladesh-finance-islamic-logo{
  height: 50px;
  margin-top: 12px;
}

.bangladesh-finance-logo{
  height: 60px;
  margin-top: -10px;
}

.bcb-logo{
  height: 90px;
  margin-top: -16px;
}

.gazi-tyre-logo{
  height: 70px;
  margin-top: 3px;
}

.gazi-group-logo{
  margin-top: 6px;
}

.ipdc-finance-logo{
  height: 45px;
  margin-top: 15px;
}

.reestify_logo{
  margin-top: -4px;
}

.akij-plastic-logo{
  height: 110px;
  margin-top: -35px;
}